* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background-color: hsl(210, 46%, 95%);
  color: white;
  font-family: Barlow Semi Condensed;
}
.max-width {
  max-width: 1600px;
  margin: auto;
}
.content {
  margin-top: 40px;
  display: grid;
  gap: 40px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column: 300px;
  grid-row: 200px;
  scale: 0.7;
}
img {
  border-radius: 50%;
  height: 40px;
}
.div {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 60px 60px 100px hsla(217, 19%, 35%, 0.247);
  padding: 40px;
  gap: 28px;
}
.div-header {
  display: flex;
  gap: 20px;
}
.one {
  background-color: hsl(263, 55%, 52%);
  grid-column: 1 / 3;
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 250px 0;
  z-index: 0;
}
.two {
  background-color: hsl(217, 19%, 35%);
  grid-column: 3 / 3;
  z-index: 1;
}
.three {
  background-color: white;
  color: hsl(219, 29%, 14%);
  grid-row: 3 / 1;
  grid-column: 4 / 4;
  z-index: 2;
  width: 300px;
}
.four {
  background-color: white;
  color: hsl(219, 29%, 14%);
  z-index: 0;
}
.five {
  background-color: hsl(219, 29%, 14%);
  grid-column: 2 / 4;
  z-index: 1;
}
.p1 {
  font-size: 27px;
  font-weight: 600;
}
.p2 {
  font-size: 18px;
}
.one .under-name {
  color: hsl(263, 89%, 82%);
}
.two .under-name {
  color: hsl(216, 50%, 85%);
}
.three .under-name {
  color: hsla(217, 30%, 14%, 0.568);
}
.four .under-name {
  color: hsl(217, 19%, 35%);
}
.five .under-name {
  color: rgba(255, 255, 255, 0.555);
}
.one .p2 {
  color: hsl(263, 89%, 82%);
}
.two .p2 {
  color: hsl(216, 50%, 85%);
}
.three .p2 {
  color: hsla(217, 30%, 14%, 0.568);
}
.four .p2 {
  color: hsla(217, 30%, 14%, 0.568);
}
.five .p2 {
  color: rgba(255, 255, 255, 0.555);
}
.three .p1 {
  color: hsl(217, 19%, 35%);
}
.four .p1 {
  color: hsl(217, 19%, 35%);
}

.one img {
  outline: 3px solid hsl(263, 82%, 69%);
}
.five img {
  outline: 3px solid hsl(263, 82%, 69%);
}
@media screen and (max-width: 750px) {
  .content {
    display: flex;
    flex-direction: column;
    scale: 1;
  }
  body {
    padding: 25px;
  }
  .three {
    width: unset;
  }
}
