* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background-color: hsl(210, 46%, 95%);
  color: white;
  font-family: Barlow Semi Condensed;
}
.max-width {
  max-width: 1600px;
  margin: auto;
}
.content {
  margin-top: 40px;
  display: grid;
  gap: 40px;

  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column: 300px;
  grid-row: 200px;
}
img {
  border-radius: 50%;
  height: 40px;
}
.div1,
.div2,
.div3,
.div4,
.div5 {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 60px 60px 100px hsla(217, 19%, 35%, 0.247);
  padding: 40px;
  gap: 28px;
}
.div-header {
  display: flex;
  gap: 20px;
}
.div1 {
  background-color: hsl(263, 55%, 52%);
  grid-column: 1 / 3;
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 250px 0;
}
.div2 {
  background-color: hsl(217, 19%, 35%);
  grid-column: 3 / 3;
}
.div3 {
  background-color: white;
  color: hsl(219, 29%, 14%);
  grid-row: 3 / 1;
  grid-column: 4 / 4;
  order: 1;
  width: 300px;
}
.div4 {
  background-color: white;
  color: hsl(219, 29%, 14%);
}
.div5 {
  background-color: hsl(219, 29%, 14%);
  grid-column: 2 / 4;
}
.p1 {
  font-size: 27px;
  font-weight: 600;
}
.p2 {
  font-size: 18px;
}
.div1 .under-name {
  color: hsl(263, 89%, 82%);
}
.div1 .under-name {
  color: hsl(263, 89%, 82%);
}
.div2 .under-name {
  color: hsl(216, 50%, 85%);
}
.div3 .under-name {
  color: hsla(217, 30%, 14%, 0.568);
}
.div4 .under-name {
  color: hsla(217, 30%, 14%, 0.568);
}
.div4 .under-name {
  color: hsl(217, 19%, 35%);
}
.div5 .under-name {
  color: rgba(255, 255, 255, 0.555);
}
.div2 .p2 {
  color: hsl(216, 50%, 85%);
}
.div3 .p2 {
  color: hsla(217, 30%, 14%, 0.568);
}
.div4 .p2 {
  color: hsla(217, 30%, 14%, 0.568);
}
.div5 .p2 {
  color: rgba(255, 255, 255, 0.555);
}
.div3 .p1 {
  color: hsl(217, 19%, 35%);
}
.div4 .p1 {
  color: hsl(217, 19%, 35%);
}

.div1 img {
  outline: 3px solid hsl(263, 82%, 69%);
}
.div5 img {
  outline: 3px solid hsl(263, 82%, 69%);
}
@media screen and (max-width: 750px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  body {
    padding: 25px;
  }
  .div3 {
    width: unset;
  }
}
